<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'manager/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'manager/css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'manager/images/index.ico' %}" type="image/x-icon">
    <title>登录</title>
</head>
<body>
<div id="main">
	<form method="post" class="form" novalidate>
        {% csrf_token %}
		<div class="form-head">
			<h2>用户登录</h2>
		</div>
		<div class="form-body" >
            <label>{{form.name.label}}:</label>
			<div>
                {{ form.name }}
                <span style="color: red;"> {{ form.name.errors.0 }} </span>
			</div>
            <br>
            <label>{{form.password.label}}:</label>
			<div>
                {{ form.password }}
                <span style="color: red;"> {{ form.password.errors.0 }} </span>
			</div>
            <br>
            <label>{{form.usertype.label}}:</label>
            <div class=""> {{form.usertype}} </div>
            <br>
            <label for="id_code">{{form.image_code.label}}:</label>
            <div class="row">
				<div class="col-xs-7">
                    {{ form.image_code }}
                    <span style="color: red;"> {{ form.image_code.errors.0 }} </span>
                </div>
                <div class="col-xs-5"><img src="/manager/image/code/" alt=""></div>
			</div>
			<button type="submit"  class="ui-button ui-button--primary">登录</button>
		</div>
	</form>
</div>

    <script src="{% static 'manager/js/jquery.min.js' %}"></script>
    <script src="{% static 'manager/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'manager/js/script.js' %}"></script>
</body>
</html>
